@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Mona-Sans";
  @apply m-0 leading-[normal];
}
*,
::before,
::after {
  border-width: 0;
}
.page-section {
  @apply pb-14 pt-14;
  h2 {
    @apply mb-[61px] mt-0 text-21xl font-semibold tracking-[-1.4px] mq950:text-13xl mq450:text-5xl mq450:leading-[55px];
  }
}
.thm-container {
  @apply mx-auto my-0 w-[88.5%] max-w-[1700px] pl-0 pr-0;
}
.custom-checkbox {
  @apply relative h-6 w-6 cursor-pointer appearance-none border-2 border-solid border-white bg-transparent;
}

.custom-checkbox:checked {
  @apply border-white; /* Border color when checked */
}

.custom-checkbox:checked::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%) rotate(45deg);
  width: 0.4rem;
  height: 0.75rem;
  border: solid white;
  border-width: 0 2px 2px 0;
}

.case-study-section {
  .apect-ratio-thumb {
    @apply relative w-full;
    &:before {
      content: "";
      @apply block pt-[58%];
    }
    .case-study-thumb {
      @apply absolute top-0 h-full w-full object-cover;
    }
  }
}

.client-img {
  @apply relative w-full lg:max-w-[664px];
  &:before {
    content: "";
    @apply block pt-[56%];
  }
  img {
    @apply absolute top-0 h-full w-full object-cover;
  }
}

.case-study-box {
  .case-study-thumb {
    transition: all ease-in-out 0.5s;
  }
  .footer-wrap {
    @apply mb-[-65px] flex w-full justify-between overflow-hidden opacity-0;
    transition: all ease-in-out 0.5s;
    .text {
      @apply m-0 flex items-center gap-2;
      p {
        @apply m-0 max-w-[93px] text-[12px] font-light;
      }
    }
    .view-testimonial {
      @apply flex min-w-[196px] cursor-pointer items-center justify-center gap-3 rounded-full border border-solid border-white bg-transparent text-[12px] uppercase text-white;
    }
    .btn-right {
      @apply h-12 w-12 cursor-pointer rounded-full border border-solid border-white bg-transparent;
    }
  }
  &:hover {
    .case-study-thumb {
      @apply scale-[1.1];
    }
    .footer-wrap {
      @apply mb-[0] opacity-[1];
    }
  }
}

.business-card {
  @apply overflow-visible #{!important};
}

.insight-card {
  .swiper-slide {
    img {
      @apply mb-6;
    }
  }
}

.logo-wrapper {
  img {
    @apply h-[114px] w-auto #{!important};
  }
}
